<div>
    <h1 class="about-title">Welcome to Voucher</h1>
    <mat-grid-list cols = "3" rowHeight = "100px" [gutterSize]="'10px'">
        <mat-grid-tile 
            [colspan] = "2"
            [rowspan] = "3">
            We want to support local business...
        </mat-grid-tile>

        <mat-grid-tile
            [colspan] = "1"
            [rowspan] = "3">
            A picture of something that goes with the description
        </mat-grid-tile>

        <mat-grid-tile
        [rowspan] = "3">
            benefit #1
        </mat-grid-tile>

        
        <mat-grid-tile
        [rowspan] = "3">
        
            benefit #2
        </mat-grid-tile>

        <mat-grid-tile
        [rowspan] = "3">
            benefit #3
        </mat-grid-tile>

        <mat-grid-tile
            [colspan] = "3"
            [rowspan] = "1">
            Who are we?
        </mat-grid-tile>

        <mat-grid-tile>
            member #1
        </mat-grid-tile>

        <mat-grid-tile>
            member #2
        </mat-grid-tile>

        <mat-grid-tile>
            member #3
        </mat-grid-tile>

        <mat-grid-tile
            [colspan] = "3"
            [rowspan] = "1">10
        </mat-grid-tile>

    </mat-grid-list>
</div>
