<div>

    <h1 class="about-title">Welcome to Voucher</h1>
    <body class="about-body">Help support small businesses in Edmonton</body>
    <mat-grid-list cols = "3" rowHeight = "100px">
        <mat-grid-tile 
            [colspan] = "2"
            [rowspan] = "2">1
        </mat-grid-tile>

        <mat-grid-tile
            [colspan] = "1"
            [rowspan] = "2"
            >2
        </mat-grid-tile>

        <mat-grid-tile>3
        </mat-grid-tile>

        <mat-grid-tile>4
        </mat-grid-tile>

        <mat-grid-tile>5
        </mat-grid-tile>

        <mat-grid-tile>7
        </mat-grid-tile>

        <mat-grid-tile>8
        </mat-grid-tile>

        <mat-grid-tile>9
        </mat-grid-tile>

        <mat-grid-tile
            [colspan] = "3"
            [rowspan] = "1">10
        </mat-grid-tile>

    </mat-grid-list>

</div>
