.DS_STORE

/dist/
/bazel-out
/integration/bazel/bazel-*
*.log
node_modules

# Include when developing application packages.
pubspec.lock
.c9
.idea/
.devcontainer/*
!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
.settings/
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.swo
modules/.settings
modules/.vscode
.vimrc
.nvimrc

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/

# User specific bazel settings
.bazelrc.user

.notes.md
baseline.json

# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.bower-*/
.idea/
coverage/
.coveralls.yml

# MEAN.js app and assets
# ======================
public/dist/
uploads
modules/users/client/img/profile/uploads
config/env/local.js
config/env/local-*.js
*.pem

# Compiled less and sass files
# ============================
modules/*/client/scss/*.css
modules/*/client/less/*.css

# Ignoring MEAN.JS's gh-pages branch for documenation
_site/

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# Eclipse project files
# =====================
.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties

# IntelliJ
# ========
*.iml

# Cloud9 IDE
# =========
.c9/
data/
mongod

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln

# Sensitive Config Files
# =========
*.env