.fontlol {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}


