<div *ngIf="isLoggedOn">
    <mat-grid-list cols = "3" rowHeight = "100px" [gutterSize]="'10px'">
        <mat-grid-tile
            [rowspan] = "2"
            [colspan] = "3"> 
            benefit 1
        </mat-grid-tile>
        <mat-grid-tile
            [rowspan] = "2"
            [colspan] = "3">
            benefit 2
        </mat-grid-tile>
        <mat-grid-tile
            [rowspan] = "2"
            [colspan] = "3">
            benefit 3
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div *ngIf="!isLoggedOn">
    <div>
        login to see your benefits!
    </div>
    <a routerLink="/login"><button mat-flat-button color="primary" class="fontlol">Login</button></a>
</div>
