<div *ngIf="isLoggedOn">
    <body>viewing your card list of benefits</body>
    <mat-grid-list cols = "3" rowHeight = "100px">
        <mat-grid-tile
            [colspan] = "3">1
        </mat-grid-tile>
        <mat-grid-tile
            [colspan] = "3">2
        </mat-grid-tile>
        <mat-grid-tile
            [colspan] = "3">3
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div *ngIf="!isLoggedOn">
    <div>
        login to see your benefits!
    </div>
    <a routerLink="/login"><button mat-flat-button color="primary" class="fontlol">Login</button></a>
</div>
