.custom-logo{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: royalblue;
}

:host{
    position: fixed;
    background-color: white;
    padding: 0px 0px 5px;
    display: block;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 1px 3px rgba(68,68,68,0.6);
}