
<mat-toolbar color="accent" *ngIf="successMsg">{{ successMsg }}</mat-toolbar>
<mat-toolbar color="warn" *ngIf="errorMsg">{{errorMsg}}</mat-toolbar>

<div class="container">
  <form (ngSubmit)="onSubmit()" class="col s12">
    <div class="input-field col s12">
      <input matInput [(ngModel)]=firstname [ngModelOptions]="{standalone: true}" id="icon_prefix" type="text" placeholder="First Name">
      <label for="icon_prefix"></label>
    </div>
    <div class="input-field col s12">
      <input matInput [(ngModel)]=email [ngModelOptions]="{standalone: true}" id="email" type="email" class="validate">
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12">
      <input matInput [(ngModel)]=password [ngModelOptions]="{standalone: true}" id="password" type="password" class="validate">
      <label for="password">Password</label>
    </div>
    <div class="input-field col s12">
      <input matInput [(ngModel)]=confirmPassword [ngModelOptions]="{standalone: true}" id="confirmPassword" type="password" class="validate">
      <label for="confirmPassword">Confirm Password</label>
    </div>
    <button mat-raised-button color="primary">Sign Up</button>
    Already have an account? <a routerLink="/login"> Login</a>
  </form>
</div>

