.user-details {
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 60%;
}

.user-details-body {
    text-align: center;
    font-size: large;
}

.background {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}
