.fontlol {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content {
  display: flex;
  justify-content: space-between;
  max-width: 170px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px;
}
span {
  width: 200px;
  height: 200px;
}
.pos{
  position: sticky;
  padding-top: 10px;
  float: right;
}
