<mat-tab-group class="mainWrapper" animationDuration="0ms">
  <mat-tab label="About">
    <div class="globalsize">
      <h1 class="fontlol">
        <!-- about page -->
        <app-about></app-about>
      </h1>
    </div>
  </mat-tab>
  <mat-tab label="Browse">
    <div class="globalsize">
      <!-- grid list of businesses with search bar -->
      <app-browse></app-browse>
    </div>
  </mat-tab>
  <mat-tab label="My Benefits">
    <div class="globalsize">
      <!-- show login button or user subscriptions -->
      <app-my-benefits></app-my-benefits>
    </div>
  </mat-tab>
</mat-tab-group>
