.mainWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 105px; 
}

:host{
  position: relative;
}

.mat-tab-label-container{
  background-color: white;
}

.mat-tab-body-wrapper {
  padding-top: 15px;
  width: 100%;
}

.padder{
  padding-top: 60px;
  background: white;
}

.fontlol {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  border-radius: 8px;
}

.mat-tab-header{
  box-shadow: 0px 2px 5px rgba(68,68,68,0.6);
}

.example-small-box {
  height: 100px;
  width: 100%;

}

.loginsignup {
  position: absolute;
  z-index:30;
}

.mat-tab-label {
  width: 100px !important;
  padding: 30px;
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mat-tab-label.mat-tab-label-active {
  width: 100px !important;
  padding: 5px;
  color:#fcba03;

}

.mat-tab-label-content{
  font-size: medium;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: rgb(255, 197, 71);
  height: 4px;
}

.fontlol {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
